<%# TODO: How to handle the block title? Public vs. users timeline ....%>
<h2>
    <%= @title %>
</h2>
<% if @user %>
    <%# TODO: if the user is logged in ...%>
<% end %>
<ul class="messages">
    <% if @messages.length > 0 %>
        <% @messages.each do |message| %>
            <li>
                <img src="<%= gravatar_url(message['email'], size=48) %>" alt="User Gravatar" />
                <strong><%= message['username'] %></strong>: <%= message['text'] %>
                <small>— <%= format_datetime(message['pub_date']) %></small>
            </li>
        <% end %>
    <% else %>
        <li>
            <em>
                There's no messages so far.
            </em>
        </li>
    <% end %>
</ul>